{% extends 'layouts/dashboard.html' %}

{% block content %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                    <div class="card-body p-4">
                        <h4 class="text-center my-3 pb-3">To Do App</h4>
                        <form method="POST" action="{% url 'app:create_task' %}" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                            {% csrf_token %}
                            <div class="col-12">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" name="title" id="form1" class="form-control"  value="{{ form.title.value|default:'' }}"/>
                                    <label class="form-label" for="form1">Enter a task here</label>
                                    {% for error in form.title.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit"
                                    class="btn btn-primary">Save</button>
                            </div>
                        </form>

                        <table class="table mb-4">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Todo item</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if all_lists %}
                                {% for list in all_lists %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{list.title  }}</td>
                                    <td>{{ list.status_html|safe }}</td>
                                    <td>
                                        <a href="{% url 'app:edit_task' list.id  %}" class="btn btn-info">Edit</a>
                                        <a onclick="return confirm('Are you sure you want to delete this row?')" href="{% url 'app:delete_task' list.id  %}" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="4" class="text-center py-3">No items found.</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}